@import 'colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif;
}
body {
    // max-width: 1600px;
    margin: 0 auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

section {
    margin: 100px 50px;
}

.btn {
    width: 60%;
    padding: 15px;
    background-color: $additional;
    border: 0;
    color: $white;
    border-radius: 5px;
    font-size: 1.15rem;
    letter-spacing: 2px;
    cursor: pointer;
}
// HEADER
.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    &__nav {
        position: relative;
        grid-column: 1/3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        &-logo {
            img {
                width: 80%;
            }
        }
        &-burger {
            position: relative;
            width: 24px;
            height: 16px;
            p {
                content: '';
                position: absolute;
                width: 50%;
                height: 1px;
                background-color: #000;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
            }
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #000;
                top: 0;
                left: 0;
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #000;
                bottom: 0;
                left: 0;
            }
            
        }
        &-list {
            position: absolute;
            top: 50px;
            left: -100vw;
            width: 100vw;
            height: 100vh;
            background-color: $white;
            transition: .4s;
        }
        &-list.active {
            left: 0;
        }
        &-listItem {
            padding: 20px 0;
            text-align: center;
        }
        &-link {
            width: 100%;
            padding: 10px;
            font-size: 2rem;
            display: inline-block;
            color: $primary;
            font-weight: bold;
            transition: .4s;
            &:hover {
                color: $additional;
            }
            &.btn-login {
                background-color: #fff;
                border: 1px solid $additional;
                width: 50%;
                color: $additional;
                &:hover {
                    color: white;
                    background-color: $additional;
                }
            }
            &.btn-reg {
                color: white;
                width: 50%;
                border: 1px solid $additional;
                &:hover {
                    color: $additional;
                    background-color: white;
                }
            }
        }
    }

    &__welcome {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        align-content: center;
        padding: 0 30px;
        &-left {
            h1 {
                text-align: center;
                padding: 20px 0 ;
            }
            p {
                position: relative;
                font-size: 1.6rem;
                font-weight: bold;
                padding: 10px 0;
                margin: 10px 0;
                z-index: -1;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 20px;
                    height: 2px;
                    background-color: #000; 
             }
             }              
             form {
                 margin: 0 auto;
                 display: grid;
                 grid-template-columns: 1fr;
                 grid-gap: 10px;
                 margin-top: 30px;
                    
                 select {
                     border: 1px solid rgba($color: #000000, $alpha: 0.1);
                     color: $secondary;
                     padding: 10px 20px;
                     width: 100%;
                     border-radius: 5px;
                 }
             }
        }
        &-right {
            margin-top: 50px;
            img {
                
                width: 100%;
            }
        }
    }
}

// SECTION 1

.explore {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
    padding: 10px 30px;
    &__img {
        order: 1;
        margin-top: 50px;
        img {
            width: 100%;
        }
    }
    &__content {
        text-align: center;
        h2 {
            padding: 30px 0;
            font-size: 3rem;
        }
        p {
            text-align: left;
            font-size: 1.8rem;
            color: $secondary;
            line-height: 1.8;
        }
        button {
            margin-top: 50px;
            width: 40%;
        }
    }
}

// SECTION 2

.destination {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px 30px;
        h2{
            font-size: 2.5rem;
        }
        a {
            display: block;
            color: $additional;
            font-size: 1.4rem;
            font-weight: bold;
        }
    }
    &__content {
        padding: 0 30px;
        article {
            position: relative;
            img {
                display: block;
                width: 100%;
                height: 100%;
                margin-top: 50px;
            }
            p {
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: #fff;
                width: 50%;
                height: 50px;
                line-height: 1.6;
                border-top-right-radius: 6px;
                font-size: 1.2rem;
                color: $secondary;
                padding: 10px 0;
                span {
                    display: block;
                    font-weight: bold;
                    color: black;
                }
            }

        }
    }
}

// SECTION 3

.guides {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 10px 30px;
    &__content {
        text-align: center;
        margin-top: 50px;
        align-self: center;
        h2 {
            padding: 30px 0;
            font-size: 3rem;
        }
        p {
            text-align: left;
            font-size: 1.8rem;
            color: $secondary;
            line-height: 1.8;
        }
        button {
            margin-top: 50px;
            width: 40%;
        }
    }
    &__img {
        img{
            width: 100%;
        }
    }
}

// SECTION 4

.testimonials {
    &__header {
        text-align: center;
        padding: 40px 30px;
        font-size: 3rem;
    }
    &__content {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        grid-gap: 20px;
        padding: 10px 30px;
        &-citi {
            order: 1;
            p {
                padding: 10px 0;
                text-align: center;
                font-size: 2rem;
                font-style: italic;
                i {
                    color: gold;
                }
            }
            &__name {
                font-style: none;
                font-weight: bold;
                span {
                    font-weight: normal;
                    display: block;
                }
            }
        }
        &-photo {
            img {
                width: 100%;
                border-radius: 8px;
            }
        }
    }
}

// SECTION 5

.stories {
    padding: 0 30px;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 30px 10px;
        h2{
            font-size: 2.5rem;
        }
        a {
            color: $additional;
            font-size: 1.4rem;
            font-weight: bold;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 20px 0;
        
        &-item {
            text-align: center;
            background-color: rgba($color: #000000, $alpha: 0.02); 
            img {
                width: 100%;
                border-radius: 10px 10px 0 0;
            }
            h3 {
                font-weight: bold;
                font-size: 2.3rem;
                padding: 15px
            }
            p {
                font-size: 1.4rem;
                color: $secondary;
                padding: 15px;
            }
            a {
                display: block;
                font-size: 1.3rem;
                color: $additional;
                padding: 15px;
            }
        }
    }
}

// FOOTER
.footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px 30px 0;
    background-color: $bg_footer;
    align-items: center;
    justify-content: flex-end;
    &__content {
        text-align: center;
        padding: 0 10px;
        img {
            padding-bottom: 10px;
        }
        p {
            color: $secondary;
            font-size: 1.6rem;
            padding-bottom: 30px;
        }
    }
    &__links {
        text-align: center;
        padding: 20px 0;
        h6 {
            font-weight: bold;
            font-size: 2rem;
            padding: 5px 0;
        }
        a {
            display: block;
            color: $secondary;
            font-size: 1.3rem;
            padding: 8px 0;
            transition: .4s;
            &:hover {
                color: $additional;
            }
        }
    }
    &__social {
        border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
        padding: 10px 0;
        text-align: center;
        a {
            font-size: 2.5rem;
            padding: 5px;
            color: black;
        }
    }
}

@media screen and (min-width: 576px) {
    .header__welcome{
        &-left {
            form {
                grid-template-columns: 1fr 1fr;
                width: 80%;
                gap: 30px;
                p {
                    grid-column: 1/3;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        grid-template-columns: 1fr 1fr;
        &__nav{
            &-burger {
                display: none;
            }
            &-list {
                display: flex;
                justify-content: flex-end;
                position: static;
                width: 100%;
                height: auto;
            }
        
            &-link {
                font-size: 1.3rem;
                width: 100%;
                margin-left: 5px;
                &.btn-login {
                    width: 90%;
                    padding: 10px 30px;
                }
                &.btn-reg {
                    width: 90%;
                    padding: 10px 30px;
                }
            }
        }
        &__welcome {
            grid-template-columns: 1fr 1fr;
        }
    }

    .explore {
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        margin-top: 100px;
        &__img {
            order: 0;
        }
    }

    .destination {
        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            article {
                img {
                    margin-top: 0;
                }
            }
        }
    }

    .guides {
        margin-top: 50px;
        grid-template-columns: 1fr 1fr;
        &__img {
            img {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .testimonials {
        &__header {
            text-align: left;
        }
        &__content {
            grid-template-columns: 1fr 1fr;
            &-citi {
                order: 0
            }
        }
    }

    .stories {
        &__content {
            grid-template-columns: 1fr 1fr;
        }
    }

    .footer {
        grid-template-columns: repeat(3, 1fr);
        &__content {
            grid-column: 1/4;
        }

        &__social {
            grid-column: 1/4;
        }
    }
}

@media screen and (min-width: 992px) {
    .header {
        &__welcome {
            h1 {
                text-align: left;
                font-size: 5rem;
                width: 80%;
                margin: 0 auto;
            }
            &-right {
                margin-top: 0;
            }
        }
    }

    .explore{
        margin: 100px 0;
        &__content {
            text-align: left;
        }
        &__img {
            margin-top: 0;
        }
    }

    .destination {
        &__content {
            grid-template-columns: repeat(4, 1fr);
        }
        &__header {
            h2 {
                font-size: 3rem;
                // padding-bottom:30px;
            }
        }
    }
    .guides {
        &__content {
            text-align: left;
        }
    }

    .testimonials {
        margin-top: 50px;
        &__content {
            &-citi {
                p {
                    text-align: left;
                }
            }
        }
    }

    .stories {
        &__content {
            grid-template-columns: repeat(4, 1fr);
            &-item {
                text-align: left;
                h3 {
                    font-size: 1.2rem;
                    // padding: 5px;
                }
                p {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .header {
        &__nav {
            &-link {
                font-size: 2rem;
            }
        }
        
    }
    .footer {
        grid-template-columns: 2fr repeat(3, 1fr);
        width: 100%;
        &__content {
            grid-column: 1;
            text-align: left;
            width: 75%;
            p {
                font-size: 1.8rem;
                padding-top: 15px;
            }
        }
    
        &__social {
            grid-column: 1/5;
            a {
                display: inline-block;
                font-size: 4rem;
                padding-top: 20px;
            }
        }
        &__links {
            text-align: left;
            h6 {
                padding: 15px 0;
            }
            a {
                font-size: 2rem;
            }
        }
    }
    }
    

@media screen and (min-width: 1600px) {

}